[submodule "code/directx"]
	path = code/directx
	url = git@github.com:igobrado/Direct3D-playground.git
[submodule "code/opengl"]
	path = code/opengl
	url = git@github.com:igobrado/OpenGL-playground.git
[submodule "code/infrastructure"]
	path = code/infrastructure
	url = git@github.com:igobrado/Game-Engine-infrastructure.git
